h1{
    color:#FF69b4;
    font-size:60px;
    background-color: #e6e6fa;
    font-family:monospace;

}
h2{
    color:#ff93c9;
    font-size:40px;
    font-family:monospace;
    background-color: #cce5ff;
    
}

.title-ct{
    color:#705b67;
    font-family:monospace;
    background-color: #ffccff;

}


.main-intro{
    background-color: #c1c1ff;

}

.itr{
    margin-top: 50px;
    margin-bottom: 10px;
    
}
