h1{
    color:#FF69b4;
    font-size:80px;
    background-color: #e6e6fa;
    font-family:monospace;
}
h2{
    color:#ff93c9;
    font-size:50px;
    font-family:monospace;
    background-color: #cce5ff;
    
}

.main-ct{
    color:#705b67;
    font-family:monospace;
    font-size:30px;
    background-color: #ffccff;
}
.irt1{
    width:500px;
    height:600px;
}
