h1{
    color:#FF69b4;
    font-size:70px;
    background-color: #e6e6fa;
    font-family:monospace;
}
h2{
    color:#ff93c9;
    font-size:50px;
    font-family:monospace;
    background-color: #cce5ff;
    
}

.main-ct{
    color:#705b67;
    font-family:monospace;
    font-size:40px;
    background-color: #ffccff;
    

}
