h1{
    color:#FF69b4;
    font-size:60px;
    background-color: #e6e6fa;
    font-family: serif;
}
h2{
    color:#ff93c9;
    font-size:40px;
    font-family: serif;
    background-color: #cce5ff;
    
}

.main-ct{
    color:#705b67;
    font-family:serif;
    background-color: #ffccff;

}
